.mind-graph {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.mind-graph-canvas {
  overflow: auto;
  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  position: relative;
}

.mind-graph-canvas-transform {
  height: 200%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mind-graph-node {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.mind-graph-node-wrapper {
  padding: 0.5rem;
  border-width: 2px;
  border-color: transparent;
  cursor: pointer;
}
.mind-graph-node-wrapper-focus {
  padding: 0.5rem;
  border-width: 2px;
  border-style: dashed;
  border-radius: 0.375rem;
  border-color: rgba(239,68,68);
  box-shadow:  0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.mind-graph-node-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.mind-graph-link {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
}

.mind-graph-toolbar {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  padding: 0.25rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-top-width: 1px;
  border-color: rgba(243, 244, 246);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.mind-graph-toolbar-action {
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mind-graph-toolbar-action:hover {
  color: rgba(3, 155, 229);
}
.mind-graph-toolbar-action-icon {
  font-size: 1rem;
  line-height: 1.5rem;
  fill: currentColor;
}
.mind-graph-toolbar-action-text {
  color: rgba(55, 65, 81);
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
  user-select: none;
}
.mind-graph-toolbar-divider {
  fill: currentColor;
  color: rgba(209, 213, 219);
}

.mind-graph-chilren {
  position: absolute;
  top: 0;
  left: 0;
}

.mind-graph-default-background {
  position: absolute;
  z-index: -99;
}

.mind-graph-default-link {
  fill: transparent;
  stroke: currentColor;
  color: rgb(75, 85, 99);
  stroke-width: 2;
}
.mind-graph-default-link:hover {
  color: rgba(3, 155, 229)
}

.mind-graph-default-node {
  padding: 0.5rem 1rem;
  height: 3rem;
  width: 6rem;
  background-color: rgba(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  border-width: 1px;
  border-color: rgba(52, 211, 153);
  border-radius: 0.125rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.mind-graph-default-node-text {
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
  color: rgba(16, 185, 129);
  font-weight: 700;
}